@model IEnumerable<Responses>
@foreach (var b in Model)
{
    <div>
        <h3>@b.id</h3>
        <h3>@b.Name</h3>
        <h3>@b.DateOfBirth</h3>
        <h3>@b.Gender</h3>
        <h3>@b.Email</h3>
        <h3>@b.Address</h3>
        <h3>@b.PostCode</h3>
        <h3>@b.HomeTelephoneNumber</h3>
        <h3>@b.MobileTelephoneNumber</h3>
        <h3>@b.Biography</h3>
        <h3>@b.SkillKeyWord</h3>
        <h3>@b.WorkLocation</h3>
    </div>
} 